In [1]:
from IPython.display import Image
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import cm
import warnings
warnings.simplefilter("ignore")
%matplotlib inline

matplotlib.rcParams['figure.figsize'] = [12, 12]
from sklearn import datasets as ds
from sklearn.linear_model import LinearRegression
import tensorflow as tf

In [10]:
data_original = pd.read_csv("data/dataG/dataG_part0.csv")
data = data_original

In [12]:
filestart = "data/dataG/dataG_part"
fileend = ".csv"
data["SK_ID_CURR"].count()

1000

In [14]:
frames = []

for file in range(99):
    frames.append(pd.read_csv(filestart + str(file) +fileend))

In [18]:
result = pd.concat(frames)

In [19]:
result.head()

,SK_ID_CURR,FLAG_DOCUMENT_21,FLAG_PHONE,YEARS_BUILD_AVG,COMMONAREA_AVG,LIVE_CITY_NOT_WORK_CITY,REG_CITY_NOT_LIVE_CITY,LIVINGAPARTMENTS_MEDI,FLAG_DOCUMENT_10,FLAG_DOCUMENT_17,AMT_GOODS_PRICE
0,100004,0,1,NaN,NaN,0,0,NaN,0,0,135000€
1,100006,0,0,NaN,NaN,0,0,NaN,0,0,297000€
2,100012,0,0,NaN,NaN,0,0,NaN,0,0,405000€
3,100014,0,0,NaN,NaN,0,0,NaN,0,0,652500€
4,100015,0,1,NaN,NaN,0,0,NaN,0,0,135000€

In [24]:
result = result.rename(columns={'SK_ID_CURR': 'SK_ID'})

In [23]:
result

,SK_ID_CURR,FLAG_DOCUMENT_21,FLAG_PHONE,YEARS_BUILD_AVG,COMMONAREA_AVG,LIVE_CITY_NOT_WORK_CITY,REG_CITY_NOT_LIVE_CITY,LIVINGAPARTMENTS_MEDI,FLAG_DOCUMENT_10,FLAG_DOCUMENT_17,AMT_GOODS_PRICE
0,100004,0,1,NaN,NaN,0,0,NaN,0,0,135000€
1,100006,0,0,NaN,NaN,0,0,NaN,0,0,297000€
2,100012,0,0,NaN,NaN,0,0,NaN,0,0,405000€
3,100014,0,0,NaN,NaN,0,0,NaN,0,0,652500€
4,100015,0,1,NaN,NaN,0,0,NaN,0,0,135000€
5,100017,0,0,0.7348,0.0582,0,0,0.1223,0,0,697500€
6,100018,0,0,0.9796,0.1143,0,0,0.2899,0,0,679500€
7,100019,0,0,NaN,NaN,0,1,NaN,0,0,247500€
8,100030,0,1,0.7008,0.0010,0,0,0.0599,0,0,225000€
9,100032,0,0,NaN,NaN,1,0,NaN,0,0,270000€
10,100034,0,0,0.7688,0.0188,0,0,0.1231,0,0,180000€
11,100035,0,0,NaN,NaN,0,0,NaN,0,0,477000€
12,100040,0,0,0.6736,0.0056,0,0,0.0684,0,0,1125000€
13,100043,0,1,NaN,NaN,0,0,NaN,0,0,553500€
14,100045,0,1,NaN,NaN,0,0,NaN,0,0,225000€
15,100048,0,1,NaN,NaN,1,0,NaN,0,0,540000€
16,100049,0,1,NaN,NaN,0,0,NaN,0,0,238500€
17,100051,0,0,NaN,NaN,1,0,NaN,0,0,598500€
18,100055,0,1,NaN,NaN,0,0,NaN,0,0,1350000€
19,100058,0,0,NaN,NaN,0,0,NaN,0,0,135000€
20,100059,0,1,0.7416,NaN,0,0,NaN,0,0,675000€
21,100060,0,0,NaN,NaN,0,0,NaN,0,0,454500€
22,100062,0,1,0.7892,NaN,0,0,NaN,0,0,675000€
23,100063,0,1,0.7280,0.0385,0,0,0.0975,0,0,666000€
24,100069,0,0,NaN,NaN,1,0,NaN,0,0,517500€
25,100071,0,0,0.7824,0.0096,0,0,0.0710,0,0,1588500€
26,100078,0,0,NaN,NaN,0,0,NaN,0,0,1035000€
27,100086,0,0,NaN,NaN,0,0,NaN,0,0,675000€
28,100088,0,0,NaN,NaN,0,0,NaN,0,0,135000€
29,100098,0,0,NaN,NaN,0,0,NaN,0,0,270000€
...,...,...,...,...,...,...,...,...,...,...,...
970,452539,0,0,NaN,NaN,0,0,NaN,0,0,238500€
971,452548,0,0,NaN,NaN,0,0,NaN,0,0,225000€
972,452556,0,1,NaN,NaN,0,0,NaN,0,0,454500€
973,452560,0,1,NaN,NaN,0,0,NaN,0,0,450000€
974,452561,0,0,0.6872,NaN,0,0,NaN,0,0,675000€
975,452567,0,1,0.7552,0.0400,0,0,0.1642,0,0,900000€
976,452569,0,1,NaN,NaN,0,0,NaN,0,0,328500€
977,452571,0,0,NaN,NaN,0,0,NaN,0,0,900000€
978,452573,0,0,NaN,NaN,1,0,NaN,0,0,166500€
979,452577,0,0,NaN,NaN,0,0,NaN,0,0,148500€
980,452579,0,0,NaN,NaN,0,0,NaN,0,0,225000€
981,452586,0,1,0.7756,0.0000,0,0,0.0068,0,0,103500€
982,452589,0,0,NaN,NaN,1,0,NaN,0,0,405000€
983,452590,0,0,NaN,NaN,0,0,NaN,0,0,463500€
984,452594,0,0,0.7484,0.0000,0,0,0.3215,0,0,675000€
985,452597,0,0,0.7212,0.0444,0,0,0.0616,0,0,450000€
986,452598,0,0,NaN,NaN,0,0,NaN,0,0,675000€
987,452599,0,0,NaN,NaN,0,1,NaN,0,0,180000€
988,452607,0,0,NaN,NaN,1,0,NaN,0,0,184500€
989,452611,0,0,0.9388,0.0059,0,0,0.0513,0,0,234000€
990,452612,0,1,NaN,NaN,0,0,NaN,0,0,477000€
991,452624,0,0,NaN,NaN,0,0,NaN,0,0,238500€
992,452632,0,0,0.7552,0.0889,1,1,0.1112,0,0,180000€
993,452639,0,0,0.8096,0.1909,0,0,0.3891,0,0,1665000€
994,452640,0,1,NaN,NaN,0,0,NaN,0,0,1170000€
995,452641,0,0,NaN,NaN,1,0,NaN,0,0,76500€
996,452643,0,0,NaN,NaN,0,0,NaN,0,0,238500€
997,452646,0,0,0.7960,0.0363,0,0,0.1197,0,0,1363500€
998,452650,0,0,NaN,NaN,1,0,NaN,0,0,378000€
999,452652,0,0,NaN,NaN,0,0,NaN,0,0,283500€

In [25]:
result = result.to_csv("data/dataG_clean_v1.csv")